extends layouts/root

block root
  h3.title Service Worker sandbox
  h4.description some text will be here
  
  - images = ['/i/img1.jpg', '/i/img2.jpg', '/i/img3.jpg']
  ul
    for im in images
      li
        img(src=im).image
